Django>=5.0,<6.0
dj-database-url>=2.2.0
python-dotenv>=1.0.1
psycopg2-binary>=2.9.9
whitenoise>=6.6.0

# Data analysis / future Streamlit dashboards
numpy>=2.0.0
pandas>=2.2.0
matplotlib>=3.9.0
seaborn>=0.13.0
openpyxl>=3.1.0
