{% extends 'layout.html' %}
{% load static %}
{% block 'style' %}

{% endblock %}
{% block 'title' %} Add Student {% endblock %}
{% block 'content' %}
    <div class="container d-flex align-items-center justify-content-center flex-column ">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="my-5">Add Student</h1>
            <a href="{% url 'display_students' %}" class="btn btn-primary">Display Students</a>
        </div>
        <form class="w-50 mt-3" action="{% url 'add_student' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success my-3">Submit</button>
        </form>
    </div>
{% endblock %}